<div id="accordion">
    {% for monsterUsers in user.monsterUsers %}
        <div class="card">
            <div class="card-header" id="heading{{ loop.index }}">
                <h5 class="mb-0">
                    <div class="media">
                        <img class="align-self-start mr-3" src="{{ vich_uploader_asset(monsterUsers, 'imageFile') }}" alt="Generic placeholder image">
                        <div class="media-body">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">{{ monsterUsers.name }}</button>
                        </div>
                    </div>
                </h5>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ monsterUsers.hp }}" aria-valuemin="0" aria-valuemax="{{ monsterUsers.maxhp }}">Life : {{ monsterUsers.hp }}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{ monsterUsers.dmg }}" aria-valuemin="0" aria-valuemax="{{ monsterUsers.maxdmg * 2 }}">Damage : {{ monsterUsers.dmg }}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="{{ monsterUsers.def }}" aria-valuemin="0" aria-valuemax="{{ monsterUsers.maxdef * 2 }}">Defence : {{ monsterUsers.def }}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ monsterUsers.esq }}" aria-valuemin="0" aria-valuemax="{{ monsterUsers.maxesq * 2 }}">Dodge : {{ monsterUsers.esq }}</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    {% endfor %}
</div>
