<div id="accordion">
    {% for playerfight in user.playerfight %}
        <div class="card">
            <div class="card-header" id="heading{{ loop.index }}">
                <h5 class="mb-0">
                    <div class="media">
                        <img class="align-self-start mr-3" src="{{ vich_uploader_asset(playerfight, 'imageFile') }}" alt="" width="36" height="36">
                        <div class="media-body">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}" style="font-size: 1em;padding: 15px;">{{ playerfight.name }}</button>
                        </div>
                    </div>
                </h5>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse hide" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width:{{ (playerfight.hp / playerfight.maxhp) * 100 }}%" aria-valuenow="{{ playerfight.hp }}" aria-valuemin="0" aria-valuemax="{{ playerfight.maxhp }}">Life : {{ playerfight.hp }}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width:{{ (playerfight.atk / playerfight.maxatk) * 100 }}%" aria-valuenow="{{ playerfight.atk }}" aria-valuemin="0" aria-valuemax="{{ playerfight.maxatk * 2 }}">Damage : {{ playerfight.atk }}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width:{{ (playerfight.def / playerfight.maxdef) * 100 }}%" aria-valuenow="{{ playerfight.def }}" aria-valuemin="0" aria-valuemax="{{ playerfight.maxdef * 2 }}">Defence : {{ playerfight.def }}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width:{{ (playerfight.esq / playerfight.maxesq) * 100 }}%" aria-valuenow="{{ playerfight.esq }}" aria-valuemin="0" aria-valuemax="{{ playerfight.maxesq * 2 }}">Dodge : {{ playerfight.esq }}</div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    {% endfor %}
</div>
