{{ form_start(formLeft) }}
    <ul>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formLeft.maxLevel) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formLeft.minLevel) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formLeft.language) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formLeft.type) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formLeft.choiceNbrPerPage) }}</li>
    </ul>
{{ form_end(formLeft) }}


        
        