{% extends 'base.html.twig' %}

{% block title %}RollCardPlay - {{questvariable.title}}{% endblock %}
{% block body %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image:url({{ vich_uploader_asset(questvariable, 'imageFile') }}); background-size: cover;background-position: center;">
        <div class="col-md-6 px-0" style="padding: 50px;">
            <h1 class="display-4 font-italic">{{questvariable.title}}</h1>
            <p class="lead my-3">{{questvariable.description}}</p>
        </div>
    </div>

    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
        {{ message }}
        </div>
    {% endfor %}
    
    {% if user.monsterUsers.count == 0 and action > 0 %}
    
    {% else %}
    
            {% if action == 0 %}
                {% set playerhp = 0 %}
                {{ form_start(formUser) }}
                    {{ form_row(formUser.playerfight) }}
                    {{ form_row(formUser.username) }}
                    {{ form_row(formUser.email) }}
                    {{ form_row(formUser.password) }}
                {{ form_end(formUser) }}
                <div class="container-fluid">
                    <div class="row mw-100">
                        {% for players in user.playercreated %}
                            <div class="d-flex justify-content-center col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"  >
                                <div class="card mw-100" style="padding:10px">
                                    <img class="card-img-top mw-100" src="{{ vich_uploader_asset(players, 'imageFile') }}" alt="player-image">
                                    <div class="card-body">
                                        <h5 class="card-title"> {{ players.name }} </h5>
                                        <p class="card-text">Level : {{ players.level }}</p>
                                        <p class="card-text">{% if infobattle.0 is defined %}{{ infobattle.0 }}{% endif %}</p>
                                    </div>
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% elseif action == 1 %}
                <!-- choix d action du joueur -->
                <div class="container-fluid">
                    <div class="row mw-100">
                        <div class="col-sm-3">
                            {{ include('player/_player_fight.html.twig') }}
                        </div>
                        <div class="col-sm-6 d-flex  justify-content-center  "  id="div3" style="display:none;">
                            <div class="card mw-100">
                                <img class="card-img-top mw-100" src="{{ vich_uploader_asset(player, 'imageFile') }}" alt="choice-player-skill-image">
                                <div class="card-body">
                                    <h5 class="card-title">{% trans %}Player's turn{% endtrans %} {{ player.name }}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">  {{ form_start(formPlayer, {'attr': {'placeholder': "Player\'s name" , 'class': 'hidden-row' , 'type':"hidden" }}) }}
                                        {{ form_row(formPlayer.cible) }}
                                        {{ form_row(formPlayer.skillnow) }}
                                        {{ form_end(formPlayer, {'attr': {'placeholder': "Player\'s name" , 'class': 'hidden-row' , 'type':"hidden" }}) }}  
                                    </li>
                                    <li class="list-group-item">{% trans %}Number of monsters{% endtrans %} : {{ user.monsterUsers.count }}</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ include('player/_monster_user.html.twig') }}
                        </div>
                    </div>
                </div>
            {% elseif action == 2 %}
                <!-- latence joueur -->
                <div class="container-fluid">
                    <div class="row mw-100">
                        <div class="col-sm-3">
                            {{ include('player/_player_fight.html.twig') }}
                        </div>
                        <div class="col-sm-6 d-flex  justify-content-center  "  id="div3" style="display:none;">
                            <div class="card mw-100" >
                                <img class="card-img-top mw-100" src="{{ vich_uploader_asset(player, 'imageFile') }}" alt="player-skill-image">
                                <div class="card-body">
                                    <h5 class="card-title">{% trans %}the player prepares to attack, rolls your dice{% endtrans %} ! </h5>
                                    <p class="card-text">{% if infobattle.0 is defined %}{{ infobattle.0 }}{% endif %}</p>
                                </div>
                                <div class="card-body">
                                    <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary" title="continue-quest">{% trans %}continue{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ include('player/_monster_user.html.twig') }}
                        </div>
                    </div>
                </div>
            {% elseif action == 3 %}
                <!-- action des attaques -->
                <div class="container-fluid">
                    <div class="row mw-100">
                        <div style="display:none;" class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"  id="div3" >
                            <div class="card mw-100">
                                <img class="card-img-top mw-100" src="{{ vich_uploader_asset(player, 'imageFile') }}" alt="attack-skill-image">
                                <div class="card-body">
                                    <h5 class="card-title">{{ player.name }}</h5>
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div style="display:none;" class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"  id="div1" >
                            <div class="card mw-100">
                                <img class="card-img-top mw-100" src="{% if infobattle.4 is defined %}{{ vich_uploader_asset(infobattle.4, 'imageFile') }}{#{ infobattle.4 }#}{% endif %}" alt="attack-skill-image">
                                <div class="card-body">
                                    <h5 class="card-title">{% if infobattle.3 is defined %}{{ infobattle.3 }}{% endif %}</h5>
                                    <p class="card-text">{% if infobattle.0 is defined %}{{ infobattle.0 }}{% endif %}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{% if infobattle.1 is defined %}{{ infobattle.1 }}{% endif %}</li>
                                    <li class="list-group-item">{% if infobattle.2 is defined %}{{ infobattle.2 }}{% endif %}</li>
                                    <li class="list-group-item"></li>
                                </ul>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        {% set varimage = user.monsterUsers.get((tour-1)) %}
                        <div style="display:none;" class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4"  id="div2" >
                            <div class="card mw-100">
                                <img class="card-img-top mw-100" src="{% if infobattle.5 is defined %}{{ vich_uploader_asset(infobattle.5, 'imageFile') }}{#{ infobattle.5.image }#}{% endif %}" alt="attack-skill-image">
                                <div class="card-body">
                                    <h5 class="card-title">{% if infobattle.5 is defined %}{{ infobattle.5.name }}{% endif %}</h5>
                                    <p class="card-text">{% trans %}number of remaining life points{% endtrans %} {% if infobattle.5 is defined %}{{ infobattle.5.hp }}{% endif %}</p>
                                </div>
                                <div class="card-body">
                                    <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary" title="continue-quest">{% trans %}continue{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tour du monstre latence pour eviter bug avec form rien a calculer juste monstre pret a attaquer-->
            {% elseif action == 4 %}
                <div class="container-fluid">
                    <div class="row mw-100">
                        <div class="col-sm-3">
                            {{ include('player/_player_fight.html.twig') }}
                        </div>
                        <div class="col-sm-6 d-flex justify-content-center"  id="div3" style="display:none;">
                            {% if user.monsterUsers.get((tour-1)) is not null %}
                                {#% set varimage = user.monsterUsers.get((tour-1)).image %#}
                                <div class="card mw-100" style="width: 18rem;">
                                    <img class="card-img-top mw-100" src="{{ vich_uploader_asset(user.monsterUsers.get((tour-1)), 'imageFile') }}" alt="monster-image">
                                    <div class="card-body">
                                        <h5 class="card-title">the monster {{ user.monsterUsers.get((tour-1)).name  }} {% trans %}is preparing to attack{% endtrans %}</h5>
                                        <p class="card-text">{% if infobattle.0 is defined %}{{ infobattle.0 }}{% endif %}</p>
                                    </div>
                                    <div class="card-body">
                                        <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary" title="continue-quest">{% trans %}continue{% endtrans %}</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {{ include('player/_monster_user.html.twig') }}
                        </div>
                    </div>
                </div>
                <!-- MONSTRE ATTAQUE -->
            {% elseif action == 5 %}
                <!-- choix d action du monstre -->
                <!-- faire une cible et un choix de competence auto -->
                <div class="container-fluid">
                    <div class="row mw-100">
                        <div style="display:none;" class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" id="div3" >
                            <div class="card mw-100">{% set varimage = user.monsterUsers.get((tour-1)) %}
                                <img class="card-img-top mw-100" src="{% if varimage is not null %}{{ vich_uploader_asset(user.monsterUsers.get((tour-1)), 'imageFile') }}{% endif %}" alt="monster-image">
                                <div class="card-body">
                                    <h5 class="card-title">{% if varimage is not null %}{{ varimage.name }}{% endif %}</h5>
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div style="display:none;" class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" id="div1" >
                            <div class="card mw-100">
                                <img class="card-img-top mw-100" src="{% if infobattle.4 is defined %}{{ vich_uploader_asset(infobattle.4, 'imageFile') }}{#{ infobattle.4 }#}{% endif %}" alt="monster-image">
                                <div class="card-body">
                                    <h5 class="card-title">{% if infobattle.3 is defined %}{{ infobattle.3 }}{% endif %}</h5>
                                    <p class="card-text">{% if infobattle.0 is defined %}{{ infobattle.0 }}{% endif %}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{% if infobattle.1 is defined %}{{ infobattle.1 }}{% endif %}</li>
                                    <li class="list-group-item">{% if infobattle.2 is defined %}{{ infobattle.2 }}{% endif %}</li>
                                </ul>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div style="display:none;" class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4" id="div2" >
                            <div class="card mw-100">
                                <img class="card-img-top mw-100" src="{% if infobattle.5 is defined %}{{ vich_uploader_asset(infobattle.5, 'imageFile') }}{#{ infobattle.5.image }#}{% endif %}" alt="monster-image">
                                <div class="card-body">
                                    <h5 class="card-title">{% if infobattle.5 is defined %}{{ infobattle.5.name }}{% endif %}</h5>
                                    <p class="card-text">{% trans %}Remaining life{% endtrans %} {% if infobattle.5 is defined %}{{ infobattle.5.hp }}{% endif %}</p>
                                </div>
                                <div class="card-body">
                                    <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary" title="continue-quest">{% trans %}continue{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elseif action == 6 %}
                <div class="container-fluid">
                    <div class="row mw-100">
                        <div class="col-sm-3">
                            {{ include('player/_player_fight.html.twig') }}
                        </div>
                        <div class="col-sm-6 d-flex justify-content-center"  id="div3" style="display:none;">
                            <div class="card mw-100" style="width: 18rem;">
                                <img class="card-img-top mw-100" src="https://s3-eu-west-1.amazonaws.com/assets.ffring.com/s3fs-public/styles/image_module_big/public/images/news/18-07-2018/final-fantasy-project-w-06.png?itok=WGWWgH9m" alt="fantasy-image">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                                <div class="card-body">
                                    <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary" title="continue-quest">{% trans %}continue{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ include('player/_monster_user.html.twig') }}
                        </div>
                    </div>
                </div>
            {% elseif action == 6 %}
                <!-- choix de skill monstre -->
            {% endif %}
    {% endif %}
{% endblock %}
{% block javascripts %}<script src="{{ asset('js/scrollauto.js') }}"></script>{% endblock %}
