{% extends 'base.html.twig' %}

{% block body %}
<article>
         
        <div class="content">

            
            {% if action == 0 %}


            {% set playerhp = 0 %}
            <p>nbr de Monstre : {{ user.monsterUsers.count }}</p>

             {{ form_start(formUser) }}

            
   
    {{ form_row(formUser.playerfight) }}
    {{ form_row(formUser.username) }}
    {{ form_row(formUser.email) }}
    {{ form_row(formUser.password) }}

{{ form_end(formUser) }}


<a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary">attaquer</a>
            
            <!--<a href="/player/fight/3-1-1-0" class="btn btn-primary">attaquer</a>
            <a href="/player/fight/3-1-1-0" class="btn btn-primary">negocier</a>
            <a href="/player/fight/3-1-1-0" class="btn btn-primary">esquiver</a>-->



          
       


            {% elseif action == 1 %}

            <!-- choix d action du joueur -->
    
     


            
                <h2>tour du joueur : {{ player.id }}</h2>

            {{ form_start(formPlayer, {'attr': {'placeholder': "Nom du joueur" , 'class': 'hidden-row' , 'type':"hidden" }}) }}

            
    {{ form_row(formPlayer.cible, {'attr': {'placeholder': "Image"}}) }}

    {{ form_row(formPlayer.skillnow) }}

{{ form_end(formPlayer, {'attr': {'placeholder': "Nom du joueur" , 'class': 'hidden-row' , 'type':"hidden" }}) }}

            
            
            <p>nbr de Monstre : {{ user.monsterUsers.count }}</p>

             

            {% for playerfight in user.playerfight %}
                <h2>joueur en combat : {{ playerfight.name }}</h2>
            {% endfor %}

            {% for monster2 in user.monsterUsers %}
            <h2>Monstre : {{ monster2.name }}</h2>
            <img src="{{ monster2.image }}" alt="">
            <p>point de vie du monstre : {{ monster2.hp }}</p>
            {% endfor %}
            <h2>joueur : {{ player.name }}</h2>
            <img src="{{ player.image }}" alt="">
            <p>point de vie du joueur : {{ player.hp }}</p>

            <!-- action des attaques -->
            {% elseif action == 2 %}
            {#














            {% set playerhp = player.hp %}

            {% set de = random(100) %}
            <h2>le joueur lance les dé et attaque</h2>
            <h3>Résultat du lancé de dé : {{ de }} / 100</h3>

            <!-- tour -->

            
            
            {% set possible = 0 %}
            {% if (user.monsterUsers.get(user.playerfight.get(tour-1).cible) is defined) %}
            {% if (user.playerfight.get(tour-1) is defined) %}

            {% if user.monsterUsers.get(user.playerfight.get(tour-1).cible) is not null %}
            {% if user.playerfight.get(tour-1) is not null %}
            {% if user.monsterUsers.get(user.playerfight.get(tour-1).cible).id is not null %}{% set possible = 0 %}cible : {{ user.monsterUsers.get(player.cible).id }}{% else %}<p>pas de monstre en cible</p>{% set possible = 1 %}{% endif %}
            {% if user.playerfight.get(tour-1) is not null %}tour de joueur : {{ user.playerfight.get(tour-1).id }}{% else %} <p>pas de joueur pour ce tour </p>{% set possible = 2 %}{% endif %}
            {% if user.playerfight.get(tour-1).skillnow is not null %}{% set possible = 0 %}{% set skillplayertempvar = (user.playerfight.get(tour-1).skillnow) %}Choix de la comp : id {{ user.playerfight.get(tour-1).skillnow }}{% else %}<p>pas de compétence choisit pour ce joueur</p>{% set possible = 4 %}{% endif %}
            {% else %}}<p>pas de joueur choisit pour ce tour</p>{% set possible = 5 %}{% endif %}
            {% else %}}<p>pas de cible choisit pour ce tour</p>{% set possible = 5 %}{% endif %}

            {% else %}<p>pas de joueur définit pour ce tour</p>{% set possible = 6 %}{% endif %}
            {% else %}<p>pas de cible définit pour ce tour</p>{% set possible = 7 %}{% endif %}

            

            {% if possible == 0 %}
            

            {% set skillplayertemp = user.playerfight.get(tour-1).skillbdd.get(skillplayertempvar-1) %}
            <p> nom de la comp {{ skillplayertemp.name }}</p>
            <p> id de la comp {{ skillplayertemp.id }}</p>

            {% if skillplayertemp is null %}<p>corrélation de compétence non trouver</p>
                {% set possible = 8 %}
            {% endif %}
            {% endif %}
            

           
            {% if possible == 0 %}

            
            
            {% if de > 85 %}<p>Réussite critique !</p>
            
            {% if skillplayertemp.atksc > 0 %}{% set mstrhp = user.monsterUsers.get(player.cible).hp - (skillplayertemp.atksc*2) %}
            <p>{{ skillplayertemp.dialsc }}</p>
            <p>Le monstre perd {{ skillplayertemp.atksc*2 }} point de vie !</p>{% endif %}
            <!--dgt-->
            {% if skillplayertemp.dgtsc > 0 %}{% set mstrdgt = (user.monsterUsers.get(player.cible).dgt - skillplayertemp.dgtsc)*2 %}
            {% if user.monsterUsers.get(player.cible).dgt <= 0 %}{% set mstrdgt = 1 %}{% endif %}
            <p>L'attaque du monstre diminue de {{ skillplayertemp.dgtsc*2 }} point !</p>{% endif %}
            <p>Il lui reste : {{ mstrhp }}</p>

            {% elseif de < 15 %}<p>Echec critique !</p>
            {% set playerhp = player.hp - skillplayertemp.atkec %}
            <p>{{ skillplayertemp.dialec }}</p>
            <p>Vous vous infligez {{ skillplayertemp.atkec }} point de dégats !</p>
            <p>Il vous reste : {{ playerhp }}</p>

            {% elseif de >= 50 %}<p>Réussite ! </p>
            {% set mstrhp = user.monsterUsers.get(player.cible).hp - skillplayertemp.skatk %}
            <p>{{ skillplayertemp.description }}</p>
            <p>Le monstre perd {{ skillplayertemp.skatk }} point de vie !</p>
            <p>Il lui reste : {{ mstrhp }}</p>

            {% elseif de < 50 %}<p>echec ! </p>
            <p>Vous n'infligez aucun dégats !</p>

            {% endif %}

             <!-- fin de combat-->
            {% if player.hp <= 0 %}
            {% set playerhp = 20 %}
            {% endif %}
<div class="invisible">
            {{ form_start(formPlayer, {'attr': {'placeholder': "Nom du joueur" , 'class': 'hidden-row' , 'type':"hidden" }}) }}

            
    
    {{ form_row(formPlayer.name, {'attr': {'placeholder': "Nom du joueur" , 'class': 'hidden-row' }}) }}
    {{ form_row(formPlayer.level, {'attr': {'placeholder': "Niveau du joueur"}}) }}
    {{ form_row(formPlayer.experience, {'attr': {'placeholder': "Experience"}}) }}

    {{ form_row(formPlayer.skillpnt, {'attr': {'placeholder': "Nbr de points de compétences"}}) }}

    {{ form_row(formPlayer.hp, {'attr': {'placeholder': "Vie du joueur",'value': playerhp }}) }} 

    {{ form_row(formPlayer.atk, {'attr': {'placeholder': "Attaque du joueur"}}) }}

    {{ form_row(formPlayer.image, {'attr': {'placeholder': "Image"}}) }}

    {{ form_row(formPlayer.cible, {'attr': {'placeholder': "Image"  , 'type':"hidden"}}) }}

    {{ form_row(formPlayer.skillnow, {'attr': {'placeholder': "Image"  , 'type':"hidden"}}) }}

    
    </div>
    {{ form_widget(formPlayer.save, { 'label': 'Click me' }) }}
    {{ form_end(formPlayer) }}
    {% endif %}


    #}

            <div class="container">
            <div class="row">
            <div class="col-sm-3">
            </div>
                <div class="col-sm-3">

                        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/assets.ffring.com/s3fs-public/styles/image_module_big/public/images/news/18-07-2018/final-fantasy-project-w-06.png?itok=WGWWgH9m" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ user.monsterUsers.get((tour-1)).name  }}</h5>
                <p class="card-text">{{ infobattle.0 }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ infobattle.1 }}</li>
                <li class="list-group-item">{{ infobattle.2 }}</li>
                <li class="list-group-item">{{ infobattle.3 }}</li>
            </ul>
            <div class="card-body">
                <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary">continuer</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            </div>
            </div>
            </div>
            </div>


            <!-- tour du monstre latence pour eviter bug avec form -->
                    {% elseif action == 3 %}


                    <div class="container">
            <div class="row">
            <div class="col-sm-3">
            </div>
                <div class="col-sm-3">

                        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/assets.ffring.com/s3fs-public/styles/image_module_big/public/images/news/18-07-2018/final-fantasy-project-w-06.png?itok=WGWWgH9m" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ user.monsterUsers.get((tour-1)).name  }}</h5>
                <p class="card-text">{{ infobattle.0 }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ infobattle.1 }}</li>
                <li class="list-group-item">{{ infobattle.2 }}</li>
                <li class="list-group-item">{{ infobattle.3 }}</li>
            </ul>
            <div class="card-body">
                <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary">continuer</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            </div>
            </div>
            </div>
            </div>

                    <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary">continuer</a>
                    
            <!-- MONSTRE ATTAQUE -->
            

                    {% elseif action == 4 %}

            <!-- choix d action du monstre -->
 

            <!-- faire une cible et un choix de competence auto -->

            {#<p>nbr de Monstre : {{ user.monsterUsers.count }}</p>
            {% for monster in user.monsterUsers %}
                <h2>monstre en combat : {{ monster.name }}</h2>
            {% endfor %}

            {% for monster2 in user.monsterUsers %}
            <h2>Monstre : {{ monster2.name }}</h2>
            <img src="{{ monster2.image }}" alt="">
            <p>point de vie du monstre : {{ monster2.hp }}</p>
            {% endfor %}
            <h2>joueur : {{ player.name }}</h2>
            <img src="{{ player.image }}" alt="">
            <p>point de vie du joueur : {{ player.hp }}</p>
            
            <!-- action des attaques -->
            {% set monsterhp = player.hp %}
            
            {% set de = random(100) %}
            <h2>le monstre lance les dé et attaque</h2>
            <h3>Résultat du lancé de dé : {{ de }} / 100</h3>

            <!-- tour -->
            <!-- choix cible -->
            {% if (user.playerfight.get(4)) is defined and (user.playerfight.get(4)) is not null %}{% set cibleplayers = 4 %}
            {% elseif (user.playerfight.get(3)) is defined and (user.playerfight.get(3)) is not null %}{% set cibleplayers = 3 %}
            {% elseif (user.playerfight.get(2)) is defined and (user.playerfight.get(2)) is not null %}{% set cibleplayers = 2 %}
            {% elseif (user.playerfight.get(1)) is defined and (user.playerfight.get(1)) is not null %}{% set cibleplayers = 1 %}
            {% elseif (user.playerfight.get(0)) is defined and (user.playerfight.get(0)) is not null %}{% set cibleplayers = 0 %}
            {% endif %}
            <!-- choix skill -->
            {% if (user.monsterUsers.get(tour-1).skillbdd.get(4)) is defined and (user.monsterUsers.get(tour-1).skillbdd.get(4)) is not null %}{% set skillmonster = 4 %}
            {% elseif (user.monsterUsers.get(tour-1).skillbdd.get(3)) is defined and (user.monsterUsers.get(tour-1).skillbdd.get(3)) is not null %}{% set skillmonster = 3 %}
            {% elseif (user.monsterUsers.get(tour-1).skillbdd.get(2)) is defined and (user.monsterUsers.get(tour-1).skillbdd.get(2)) is not null %}{% set skillmonster = 2 %}
            {% elseif (user.monsterUsers.get(tour-1).skillbdd.get(1)) is defined and (user.monsterUsers.get(tour-1).skillbdd.get(1)) is not null %}{% set skillmonster = 1 %}
            {% elseif (user.monsterUsers.get(tour-1).skillbdd.get(0)) is defined and (user.monsterUsers.get(tour-1).skillbdd.get(0)) is not null %}{% set skillmonster = 0 %}
            {% endif %}


            
            
            {% set possible = 0 %}
            {% if (user.monsterUsers.get(user.playerfight.get(tour-1).cible) is defined) %}
            {% if (user.playerfight.get(cibleplayers) is defined) %}

            {% if user.monsterUsers.get(user.playerfight.get(tour-1).cible) is not null %}
            {% if user.playerfight.get(cibleplayers) is not null %}
            {% if user.monsterUsers.get(user.playerfight.get(tour-1).cible).id is not null %}{% set possible = 0 %}cible : {{ user.playerfight.get(cibleplayers).id }}{% else %}<p>pas de monstre en cible</p>{% set possible = 1 %}{% endif %}
            {% if user.playerfight.get(cibleplayers) is not null %}tour de joueur : {{ user.playerfight.get(tour-1).id }}{% else %} <p>pas de joueur pour ce tour </p>{% set possible = 2 %}{% endif %}



            {% if skillmonster is not null %}{% set possible = 0 %}{% set skillplayertempvar = (user.monsterUsers.get(tour-1).skillbdd.get(skillmonster)) %}Choix de la comp : id {{ user.playerfight.get(tour-1).skillnow }}{% else %}<p>pas de compétence choisit pour ce joueur</p>{% set possible = 4 %}{% endif %}
            {% else %}}<p>pas de joueur choisit pour ce tour</p>{% set possible = 5 %}{% endif %}
            {% else %}}<p>pas de cible choisit pour ce tour</p>{% set possible = 5 %}{% endif %}

            {% else %}<p>pas de joueur définit pour ce tour</p>{% set possible = 6 %}{% endif %}
            {% else %}<p>pas de cible définit pour ce tour</p>{% set possible = 7 %}{% endif %}

            

            {% if possible == 0 %}
            

            {% set skillplayertemp = skillplayertempvar %}
            <p> nom de la comp {{ skillplayertemp.name }}</p>
            <p> id de la comp {{ skillplayertemp.id }}</p>

            {% if skillplayertemp is null %}<p>corrélation de compétence non trouver</p>
                {% set possible = 8 %}
            {% endif %}
            {% endif %}
           
            {% if possible == 0 %}

             
            

            {% if de > 85 %}{% set varbla1 = "Réussite critique !" %}
            {% if skillplayertemp.atksc > 0 %}{% set mstrhp = user.monsterUsers.get(player.cible).hp - (skillplayertemp.atksc*2) %}
            {% set varbla2 = skillplayertemp.dialsc %}
            {% set varbla3 = "Le joueur perd #{skillplayertemp.atksc*2} points de vie." %}
            
            {% endif %}
            <!--dgt-->
            {% if skillplayertemp.dgtsc > 0 %}{% set mstrdgt = (user.monsterUsers.get(player.cible).dgt - skillplayertemp.dgtsc)*2 %}
            {% if user.monsterUsers.get(player.cible).dgt <= 0 %}{% set mstrdgt = 1 %}{% endif %}
            <p>L'attaque du monstre diminue de {{ skillplayertemp.dgtsc*2 }} point !</p>{% endif %}
            <p>Il lui reste : {{ mstrhp }}</p>

            {% elseif de < 15 %}{% set varbla1 = "Echec critique ! !" %}
            {% set monsterhp = player.hp - skillplayertemp.atkec %}
            {% set varbla2 = skillplayertemp.dialec  %}
            {% set varbla3 = "Le monstre s'inflige #{skillplayertemp.atkec} point de dégats ! Il lui reste : #{monsterhp} point de dégats !"  %}

            {% elseif de >= 50 %}{% set varbla1 = "Réussite ! !" %}
            {% set mstrhp = user.playerfight.get(cibleplayers).hp - skillplayertemp.skatk %}
            {% set varbla2 = skillplayertemp.description %}
            {% set varbla2 = "Le joueur perd #{skillplayertemp.skatk} point de vie !" %}
            <p>Il lui reste : {{ mstrhp }}</p>

            {% elseif de < 50 %}{% set varbla1 = "echec ! Le monstre n'inflige aucun dégats !" %}

            {% endif %}

            

             <!-- fin de combat-->
            {% if player.hp <= 0 %}
            {% set monsterhp = 20 %}
            {% endif %}

            #}

            <div class="container">
            <div class="row">
            <div class="col-sm-3">
            </div>
                <div class="col-sm-3">

                        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/assets.ffring.com/s3fs-public/styles/image_module_big/public/images/news/18-07-2018/final-fantasy-project-w-06.png?itok=WGWWgH9m" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ user.monsterUsers.get((tour-1)).name  }}</h5>
                <p class="card-text">{{ infobattle.0 }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ infobattle.1 }}</li>
                <li class="list-group-item">{{ infobattle.2 }}</li>
                <li class="list-group-item">{{ infobattle.3 }}</li>
            </ul>
            <div class="card-body">
                <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary">continuer</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            </div>
            </div>
            </div>
            </div>



            {# endif #}


            



            {% elseif action == 5 %}
            <div class="container">
  <div class="row">
  <div class="col-sm-3">
  </div>
    <div class="col-sm-3">

            <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/assets.ffring.com/s3fs-public/styles/image_module_big/public/images/news/18-07-2018/final-fantasy-project-w-06.png?itok=WGWWgH9m" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="{{ path('player_fight', {id: user.id, action: '1', quest: questvariable.id, cible: '0', tour: '1'}) }}" class="btn btn-primary">continuer</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>





</div>
</div>
</div>

            
            {% elseif action == 6 %}
            <!-- choix de skill monstre -->
            {% set skillmonstertemp = 0 %}
            {% set varskill = random(monster.skillbdd|length) %}
            {% if varskill == 0 %}{% set varskill = 1 %}{% endif %}
            {% if skillplayertemp is defined %}
            {% for skillmonster in monster.skillbdd %}
            {% if loop.index == varskill|round|number_format  %}
            {% set skillmonstertemp = skillmonster %}
            <p>Compétence du monstre : {{ skillmonster.name }}</p>
            {% endif %}
            {% endfor %}
            

            


    

            {% endif %}
            {% endif %}

           
            

            

            
           
            
            

            
        </div>
        <!-- -->
        


    </article>



{% endblock %}