{% extends 'base.html.twig' %}
     
{% block body %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image:url({% if quest1 %}{{ vich_uploader_asset(quest1, 'imageFile') }}{% endif %});background-size: cover;background-position: center;">
        <div class="container">
          <div class="carousel-caption text-left">
            <h2 style="padding:15px;text-shadow: 2px 2px 20px red, 0 0 2em green, 0 0 2em blue;font-size: 22px;">{% if quest1 %}{{ quest1.title }}{% endif %}</h2>
            <p style="padding:15px;text-shadow: 2px 2px 20px red, 0 0 2em green, 0 0 2em blue;font-size: 22px;">{% if quest1 %}{{ quest1.description|slice(0, 350) ~ '...' }}{% endif %}</p>
            <p style="padding:15px;text-shadow: 2px 2px 20px red, 0 0 2em green, 0 0 2em blue;font-size: 22px;">
              <a class="btn btn-lg btn-primary" href="#" role="button" title="launch-quest" style="font-size: 1em;padding: 15px;">{% trans %}Start the quest{% endtrans %}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url({% if quest2 %}{{ vich_uploader_asset(quest2, 'imageFile') }}{% endif %});background-size: cover;background-position: center;">
        <div class="container">
          <div class="carousel-caption">
            <h2 style="padding:15px;text-shadow: 1px 1px 100px red, 0 0 1em green, 0 0 5em blue;font-size: 22px;">{% if quest2 %}{{ quest2.title }}{% endif %}</h2>
            <p style="padding:15px;text-shadow: 1px 1px 100px red, 0 0 1em green, 0 0 5em blue;font-size: 22px;">{% if quest2 %}{{ quest2.description|slice(0, 350) ~ '...' }}{% endif %}</p>
            <p style="padding:15px;text-shadow: 1px 1px 100px red, 0 0 1em green, 0 0 5em blue;font-size: 22px;">
              <a class="btn btn-lg btn-primary" href="#" role="button" title="launch-quest" style="font-size: 1em;padding: 15px;">{% trans %}Start the quest{% endtrans %}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url({% if quest3 %}{{ vich_uploader_asset(quest3, 'imageFile') }}{% endif %});background-size: cover;background-position: center;">
        <div class="container">
          <div class="carousel-caption text-right">
            <h2 style="padding:15px;text-shadow: 1px 1px 50px red, 0 0 5em green, 0 0 1em blue;font-size: 22px;">{% if quest3 %}{{ quest3.title }}{% endif %}</h2>
            <p style="padding:15px;text-shadow: 1px 1px 50px red, 0 0 5em green, 0 0 1em blue;font-size: 22px;">{% if quest3 %}{{ quest3.description|slice(0, 350) ~ '...' }}{% endif %}</p>
            <p style="padding:15px;text-shadow: 1px 1px 50px red, 0 0 5em green, 0 0 1em blue;font-size: 22px;">
              <a class="btn btn-lg btn-primary" href="#" role="button" title="launch-quest" style="font-size: 1em;padding: 15px;">{% trans %}Start the quest{% endtrans %}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" title="previous-quest" style="font-size: 1em;padding: 15px;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" title="previous-quest" style="font-size: 1em;padding: 15px;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 ml1" style="padding: 50px;">
        <h1 class="w3l_head">RollCardPlay</h1>
				<p class="w3ls_head_para"></p>
        <h2 class="w3l_head">{% trans %}The site is currently under construction{% endtrans %}</h2>
				<p>{% trans %}You are here in a participatory browser game, where each user can create his or her story and share it with other users. Access a simple mechanism to create <b>quests</b>, <b>characters</b>, <b>skills</b>, <b>monsters</b> and <b>objects</b>, which will be immediately shared with other players. You can therefore <strong>participate</strong> in many quests set in advance by other players.{% endtrans %}</p>
        <h4>{% trans %}Game mechanics{% endtrans %}</h4>
        <p>{% trans %}First of all, be prepared to lose your characters. Browse imaginary lands and stories written by you or others, of course, any disrespectful behaviour towards the community will be heavily sanctioned by a definitive removal of all your characters for the absolute pleasure of playing the game, wanting to respect the rules and others.{% endtrans %}</p>
        <h4>{% trans %}How to play{% endtrans %}</h4>
        <p>{% trans %}The first thing to do is of course to create an account from the registration tab if it is not done. The first thing to do is of course to create an account from the registration tab if it is not done. From the many choices available to you, you can choose to participate in the creation of skills, monsters, or even quests in which other players and you can participate, or start now to participate in quests already written from the quest tab. Finally, choose the quest that interests you, your characters with whom you want to participate and prepare yourself for battle.{% endtrans %}</p>
			</div>
			<div class="col-md-6 ">
			  <div class="">
          <img src="{{ asset('ressources/Ug4CGKC-min.jpg') }}"   style="float:left;width:100%;position: relative;" alt="start-now">
          <img src="{{ asset('ressources/30820b8e76228f64036b26f77bfad634-min.jpg') }}" style="float:right;width:50%;top:-150px;right:-50px;position: relative;" alt="start-now">
				</div>
			</div>
		</div>
  </div>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark " style="background-image:url({{ asset('ressources/17974-warrior-battling-the-giant-monsters-2880x1800-fantasy-wallpaper-min.jpg') }}); background-size: cover;background-position: center;
">
    <div class="col-md-6 px-0">
      <h2 class="display-4 font-italic">{% trans %}Start now at <strong>create</strong>{% endtrans %}</h2>
        <p class="lead my-3">{% trans %}Share your ideas by establishing complex quest sequences to tell your <strong>stories</strong>{% endtrans %}</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold" title="create-quest-page"></a></p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2" style="margin: 70px;">
      <div class="slider-ctr">
        <div class="slider-scroll">
          <div class="slide">
            <figure>
              <a class="nav-link" href="{% if app.user %}{{ path('skill') }}{% else %}{{ path('security_registration') }}{% endif %}" title="skill-page"> 
                <div class="image-ctr">
                  <div class="image monster" data-index="">
                    <div class="light">
                    </div>
                    <figcaption><h2><span>{% trans %}Monster{% endtrans %}</span></h2></figcaption>
                  </div>
                </div>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2" style="margin: 70px;">
      <div class="slider-ctr">
        <div class="slider-scroll">
          <div class="slide">
            <figure>
              <a class="nav-link" href="{% if app.user %}{{ path('player') }}{% else %}{{ path('security_registration') }}{% endif %}" title="player-page"> 
                <div class="image-ctr">
                  <div class="image player" data-index="">
                    <div class="light">
                    </div>
                    <figcaption><h2><span>{% trans %}Characters{% endtrans %}</span></h2></figcaption>
                  </div>
                </div>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2" style="margin: 70px;">
      <div class="slider-ctr">
        <div class="slider-scroll">
          <div class="slide">
            <figure>
              <a class="nav-link" href="{% if app.user %}{{ path('quest') }}{% else %}{{ path('security_registration') }}{% endif %}" title="quest-page"> 
                <div class="image-ctr">
                  <div class="image quest" data-index="">
                    <div class="light">
                    </div>
                    <figcaption><h2><span>{% trans %}Quest{% endtrans %}</span></h2></figcaption>
                  </div>
                </div>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2" style="margin: 70px;">
      <div class="slider-ctr">
        <div class="slider-scroll">
          <div class="slide">
            <figure>
              <a class="nav-link" href="{% if app.user %}{{ path('skill') }}{% else %}{{ path('security_registration') }}{% endif %}" title="skill-page"> 
                <div class="image-ctr">
                  <div class="image skill" data-index="">
                    <div class="light">
                    </div>
                    <figcaption><h2><span>{% trans %}Skill{% endtrans %}</span></h2></figcaption>
                  </div>
                </div>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

    
{% endblock %}