{{ form_start(formRight) }}
    <ul>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formRight.nameAsc) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formRight.nameDesc) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formRight.likeAsc) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formRight.likeDesc) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formRight.dateAsc) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formRight.dateDesc) }}</li>
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">{{ form_row(formRight.createdByMe) }}</li>
    </ul>
{{ form_end(formRight) }}


        
        