{% extends 'base.html.twig' %}

{% block title %}RollCardPlay - {% trans %}Quest creation page{% endtrans %}{% endblock %}

{% form_theme formQuest 'bootstrap_4_layout.html.twig' %}
{% block description %}<meta name="description" content="{% trans %}This is the quest creation page where you can create new quest cards that can be used by you and others.{% endtrans %}" />
{% endblock %}
{% block body %}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image:url({{ asset('ressources/Ug4CGKC-min.jpg') }}); background-size: cover;background-position: center;">
        <div class="col-md-6 px-0" style="padding: 50px;">
            <h1 class="display-4 font-italic">{% trans %}Quest creation page{% endtrans %}</h1>
            <p class="lead my-3"></p>
        </div>
    </div>

      
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
        {{ message }}
        </div>
    {% endfor %}


    <div class="row">
        <div class="card d-flex justify-content-center col-0 col-sm-2 col-md-1 col-lg-3 col-xl-3" style="opacity:0;" ></div>
        <div class="card d-flex justify-content-center col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6" style="padding: 70px;">
            <p>{% trans %}Although there are virtually no limits, the most common quests are{% endtrans %} :</p>
            <ul>
                <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">- {% trans %}go talk to someone{% endtrans %} ;</li>
                <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">- {% trans %}bring something to someone{% endtrans %} ;</li>
                <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">- {% trans %}find something and bring it back to someone{% endtrans %} ;</li>
                <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">- {% trans %}kill someone and come back to see the quest giver{% endtrans %} ;</li>
                <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">- {% trans %}killing someone to get something{% endtrans %} ;</li>
            </ul>      
            {{ form_start(formQuest) }}
                <div class="card-body">
                    <table>
                        <tr align="center">
                            <td><h5 class="card-title">{{ form_row(formQuest.title, {'attr': {'placeholder': "Quest title" , 'label': 'Quest title' } }) }}</h5></td>
                            <td>{{ form_row(formQuest.titlezone, {'attr': {'placeholder': "Name of the place",'label' : 'Name of the place'}}) }}</td>
                        </tr>
                    </table>
                            <p>{{ form_row(formQuest.description, {'attr': {'placeholder': "Description of the quest",'label' : 'Quest Description'}}) }}</p>
                            <p>{{ form_row(formQuest.initiative, {'attr': {'placeholder': "Quest Initiative Dialog",'label' : 'Dialog Initiative'}}) }}</p>
                            <p>{{ form_row(formQuest.dedifficult, {'attr': {'placeholder': "Difficulty of the quest",'label' : 'Quest Difficulty'}}) }}</p>
                            <p>{{ form_row(formQuest.dialreussitenego, {'attr': {'placeholder': "Successful dialog in case of negotiation",'label' : 'Dialog Negotiation Success'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguedereussitepersu, {'attr': {'placeholder': "Successful dialog in case of persuasion",'label' : 'Dialog Persuasion Success'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguedereussitetaunt, {'attr': {'placeholder': "Dialog for success in the event of a threat",'label' : 'Dialog Threat Success'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguedereussitenawak, {'attr': {'placeholder': "Dialog of luck in case of success",'label' : 'Dialog Chance Success'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguededefaitenego, {'attr': {'placeholder': "Dialog defeat in case of negotiation",'label' : 'Dialog Negotiation Failure'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguededefaitepersu, {'attr': {'placeholder': "Dialog of defeat in case of persuasion",'label' : 'Dialog Persuasion Failure'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguededefaitetaunt, {'attr': {'placeholder': "Dialog of defeat in the event of a threat",'label' : 'Dialog of Threat Failure'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguededefaitenawak, {'attr': {'placeholder': "Dialog of defeat in case of luck",'label' : 'Dialog of Chance Failed'}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguedereussitefin, {'attr': {'placeholder': "",'label' : ''}}) }}</p>
                            <p>{{ form_row(formQuest.dialoguededefaitefin, {'attr': {'placeholder': "",'label' : ''}}) }}</p>
                            <p>{{ form_row(formQuest.questrequismany, {'attr': {'placeholder': "",'label' : ''}}) }}</p>
                            <p>{{ form_row(formQuest.objetreussite, {'attr': {'placeholder': "",'label' : ''}}) }}</p>
                            <p>{{ form_row(formQuest.monsters, {'attr': {'placeholder': "",'label' : ''}}) }}</p>
                            <p>{{ form_row(formQuest.imageFile, {'attr': {'placeholder': "",'label' : ''}}) }}</p>
                    <p class="card-text">{{ form_row(formQuest.monsters) }}</p>
                </div>
                <div class="card-body">
                </div>
            {{ form_end(formQuest) }}
        </div>
        <div class="card d-flex justify-content-center col-0 col-sm-2 col-md-1 col-lg-3 col-xl-3" style="opacity:0;" >
        </div>
    </div>
{% endblock %}