{{ form_start(formLeft) }}

    <div class="card mw-100" style="padding: 10px;">
        {{ form_row(formLeft.maxHp) }}
        {{ form_row(formLeft.minHp) }}
        {{ form_row(formLeft.language) }}
        {{ form_row(formLeft.type) }}
        {{ form_row(formLeft.choiceNbrPerPage) }}
        {{ form_row(formLeft.nameAsc) }}
        {{ form_row(formLeft.nameDesc) }}
        {{ form_row(formLeft.likeAsc) }}
        {{ form_row(formLeft.likeDesc) }}
        {{ form_row(formLeft.dateAsc) }}
        {{ form_row(formLeft.dateDesc) }}
        {{ form_row(formLeft.createdByMe) }}
        <button class="btn btn-primary" style="font-size: 1em;padding: 15px;">{% trans %}Search{% endtrans %}</button>
        
    </div>
{{ form_end(formLeft) }}