{% extends 'base.html.twig' %}

{% form_theme formObjet 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image:url(http://cdn.desktopwallpapers4.me/wallpapers/fantasy/2880x1800/2/17974-warrior-battling-the-giant-monsters-2880x1800-fantasy-wallpaper.jpg); background-size: cover;background-position: center;
">
        <div class="col-md-6 px-0" style="padding: 50px;">
          <h1 class="display-4 font-italic">Création de monstre</h1>
          <p class="lead my-3"></p>
          <!--<p class="lead mb-0"><a href="{{ path('objet_create', {id: 0}) }}" class="text-white font-weight-bold">Créer un monstre</a></p>-->
        </div>
      </div>

      
{% for message in app.flashes('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}


                <div class="row">
                        <div class="card d-flex justify-content-center col-0 col-sm-2 col-md-1 col-lg-3 col-xl-3" style="opacity:0;" >
                        </div>
                        <div class="card d-flex justify-content-center col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6" style="padding: 70px;" >
            {{ form_start(formObjet) }}
                            <div class="card-body">
                                <h5 class="card-title">{{ form_row(formObjet.name, {'attr': {'placeholder': "Nom de l'objet"}}) }}</h5>
                                <p class="card-text">{{ form_row(formObjet.image, {'attr': {'placeholder': "Lien vers l'image de l'objet"}}) }}</p>
                                <p class="card-text"> {{ form_row(formObjet.description, {'attr': {'placeholder': "Description de l'objet"}}) }}</p>
                                <p class="card-text">{{ form_row(formObjet.save, {'attr': {'placeholder': ""}}) }}</p>

                            </div>

                            
            
                            <div class="card-body">
                            <!-- button form -->
                            </div>
                        {{ form_end(formObjet) }}
                        </div>
                        <div class="card d-flex justify-content-center col-0 col-sm-2 col-md-1 col-lg-3 col-xl-3" style="opacity:0;" >
                        </div>
            
            

                </div>




    

{% endblock %}