<!DOCTYPE html>
      <html lang="fr">
        <head>
          <meta charset="UTF-8">
          <meta name="google-site-verification" content="VBnBmppJsNKVm7c0qPm6V3936Ykc15rgymsZL5woSIU" />
          {% block description %}<meta name="description" content="RollCardPlay is a browser game that all users can participate in by creating quests, characters, monsters and even skills" />
          {% endblock %}
          <link rel="icon" type="image/png" href="{{ asset('ressources/phoenix.png') }}"/>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
          <meta name="keywords" content="RollCardPlay, roleplay, role, navigateur, carte, card, creation, medieval, fantasy, fantastique" />
          <title>{% block title %}RollCardPlay - the role-playing game you created{% endblock %}</title>
          <link href="{{ asset('css/carroussel.css') }}" rel="stylesheet">
          <link href="{{ asset('css/cssimagezoom.css') }}" rel="stylesheet">
          <link href="{{ asset('css/navbar.css') }}" rel="stylesheet">
          <link href="{{ asset('css/scrollauto.css') }}" rel="stylesheet">
          <link rel="stylesheet"href="https://bootswatch.com/4/sandstone/bootstrap.min.css" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

          {% block stylesheets %}{% endblock %}
          <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Germania One">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
          <link rel="stylesheet" href="{{ asset('css/flippobj.css') }}" /> 
          <style type="text/css">
            body {font-family: 'Germania One', serif;}
            .container { margin-top: 2em; }
            h1 span {
              animation: flipper 3s ease-in 4s infinite;
              -moz-animation: flipper 3s ease-in 4s infinite;
              -webkit-animation: flipper 3s ease-in 4s infinite;
              transform-style: preserve-3d;
              -webkit-transform-style: preserve-3d;
              -moz-transform-style: preserve-3d;
              display: inline-block;
            }
            @-webkit-keyframes flipper {
              0% {
                -webkit-transform: perspective(300px) rotateY(0deg);
                }
              15%, 100% {
                  -webkit-transform: perspective(300px) rotateY(360deg);
                }
            }
            @-moz-keyframes flipper {
              0% {
                -moz-transform: perspective(300px) rotateY(0deg);
                }
              15%, 100% {
                -moz-transform: perspective(300px) rotateY(360deg);
                }
            }
            @keyframes flipper {
              0% {
                transform: perspective(300px) rotateY(0deg);
              }
              15%, 100% {
                transform: perspective(300px) rotateY(360deg);
                }
            }
            .offset4{
              margin-top:-500px;
            }
            @media only screen and (max-width: 800px) {
            h1 {
            font-size: 4.5em;
            }
            h2 {
            font-size: 4em;
            }
            h3 {
            font-size: 3.5em;
            }
            h4 {
            font-size: 3em;
            }
            h5 {
            font-size: 2.5em;
            }
            p {
            font-size: 1.5em;
            }
            a {
            font-size: 1.5em;
            }
            }
          </style>
          <!-- fin de script de card return -->
        </head>

        <body>
          <div class="wrapper">
            <header>
              <nav>
                <div class="menu-icon"><i class="fa fa-bars fa-2x"></i></div>
                <div class="logo">
                  <img class="mb-2" src="{{ asset('ressources/phoenix.png') }}" alt="logo" width="36" height="36">
                </div>
                <div class="menu">
                  <ul>
                      <li class="nav-item">
                        <a href="{{ path('home') }}" title="index">Roleplay</a>
                      </li>
                    {% if not app.user %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('monsterunlogin') }}" title="monster">Monster</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('skillunlogin') }}" title="skill">Skill</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('questunlogin') }}" title="quest">Quest</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('objetunlogin') }}" title="object">Object</a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('security_login') }}" class="nav-link" title="login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('security_registration') }}" class="nav-link" title="register">Registration</a>
                      </li>
                    {% else %}
                      <li class="nav-item ">
                        <a class="nav-link" href="{{ path('player') }}" title="player">Player <span class="sr-only">(current)</span></a>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('monster') }}" title="monster">Monster</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('skill') }}" title="skill">Skill</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('quest') }}" title="quest">Quest</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('objet') }}" title="object">Object</a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('account') }}" class="nav-link" title="account">Profile</a>
                      </li>
                    {% endif %}
                  </ul>
               </div>
              </nav>
            </header>
          </div>

          {% block body %}{% endblock %}

          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="bootstrap-image" width="24" height="24">
                <small class="d-block mb-3 text-muted">© 2017-2019</small>
              </div>
              <div class="col-6 col-md">
                <h5>Création</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="{% if app.user %}{{ path('quest_create', {id: 0}) }}{% else %}#{% endif %}" title="create-quest">Create a quest</a></li>
                  <li><a class="text-muted" href="{% if app.user %}{{ path('player_create', {id: 0}) }}{% else %}#{% endif %}" title="create-player">Create a character</a></li>
                  <li><a class="text-muted" href="{% if app.user %}{{ path('monster_create', {id: 0}) }}{% else %}#{% endif %}" title="create-monster">Create a monster</a></li>
                  <li><a class="text-muted" href="{% if app.user %}{{ path('skill_create', {id: 0}) }}{% else %}#{% endif %}" title="create-skill">Create a skill</a></li>
                  <li><a class="text-muted" href="{% if app.user %}{{ path('objet_create', {id: 0}) }}{% else %}#{% endif %}" title="create-object">Create an object</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
          </footer>
        </body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('js/navbar.js') }}"></script>
        <script src="{{ asset('js/fadestart.js') }}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% block javascripts %}{% endblock %}
      </html>

