{% extends 'base.html.twig' %}

{% block title %}RollCardPlay - Page d'inscription{% endblock %}

{% block body %}
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image:url({{ asset('ressources/wallpaper-fantasy-sepik-min.jpg') }}); background-size: cover;background-position: center;">
    <div class="col-md-6 px-0" style="padding: 50px;">
      <h1 class="display-4 font-italic">Inscription</h1>
      <p class="lead my-3"></p>
    </div>
  </div>
  <div class="container" style="">
    {% for message in app.flashes('succes') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}
    {{ form_start(form) }}
      {{ form_row(form.username, {'label': 'Nom d\'utilisateur','attr': {'placeholder': 'Nom d\'utilisateur ...'}}) }}
      {{ form_row(form.email, {'label': 'Adresse email','attr': {'placeholder': 'Email de l\'utilisateur ...'}}) }}
      {{ form_row(form.password, {'label': 'Mot de passe de l\'utilisateur','attr': {'placeholder': 'Insérer votre mot de passe ...'}}) }}
      {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe','attr': {'placeholder': 'Répétez votre mot de passe'}}) }}
      <button type="submit" class="btn btn-success">Inscription !</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
